<div class="message">
  <img src="#" alt="profileImage" class="messageImage" />
  <div class="messageInfo">
    <div class="messageHeader">
      <p class="messageAuthorName"><%= message.fullname %></p>
      <p class="messageUserName"><%= message.username %></p>
      <p class="messageDuration"></p>
    </div>
    <div class="messageBody">
      <p class="messageTitle"><%= message.title %></p>
      <p class="messageText"><%= message.message_text %></p>
    </div>
  </div>
</div>
