<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
    <script src="/eventListeners/eventListener.js" type="module" defer></script>
  </head>
  <body>
    <header>
      <% if(locals.currentUser) { %>
      <div><%= currentUser.username %></div>
      <button class="createMessageBtn">+ Create Message</button>
      <% if (!isUserMember) { %>
      <button class="membershipBtn">Become member</button>
      <% } %>
      <a href="/log-out">LOG OUT</a>
      <% } else { %>
      <button class="loginBtn">Login</button>
      <% } %>
    </header>
    <main>
      <section class="actionSection"></section>
      <section class="messagesSection">
        <% messagesArray.forEach(message => { %> <%- include('partials/message',
        {message: message, isUserMember: isUserMember}) %> <% }) %>
      </section>
    </main>
    <footer></footer>
    <dialog id="loginDialog">
      <form action="/login" method="POST">
        <div class="formHead">Login</div>
        <div>
          <label for="usernameLogin">Username</label>
          <input type="text" name="username" id="usernameLogin" required />
        </div>
        <div>
          <label for="passwordLogin">Password</label>
          <input type="password" name="password" id="passwordLogin" required />
        </div>
        <button type="submit">Login</button>
      </form>
    </dialog>
    <dialog id="messageDialog">
      <form action="/message" method="POST">
        <div class="formHead">Create message</div>
        <div>
          <label for="messageTitle">Enter title</label>
          <input type="text" name="messageTitle" id="messageTitle" required />
        </div>
        <div>
          <label for="messageText">Enter text</label>
          <input type="text" name="messageText" id="messageText" required />
        </div>
        <button type="submit">Submit</button>
      </form>
    </dialog>
    <dialog id="membershipDialog">
      <form action="/membership" method="POST">
        <div class="formHead">Become member by answering correctly</div>
        <div>
          <label for="membershipQuestion">Enter current year?</label>
          <input
            type="text"
            name="membershipAnswer"
            id="membershipQuestion"
            required
          />
        </div>
        <button type="submit">Submit</button>
      </form>
    </dialog>
  </body>
</html>
