<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
    <script src="/eventListeners/eventListener.js" type="module" defer></script>
  </head>
  <body>
    <header>
      <% if(locals.currentUser) { %>
      <div><%= currentUser.username %></div>
      <a href="/log-out">LOG OUT</a>
      <% } else { %>
      <button class="loginBtn">Login</button>
      <% } %>
    </header>
    <main>
      <section class="actionSection"></section>
      <section class="messagesSection">
        <% messagesArray.forEach(message => { %> <%- include('partials/message',
        {message: message}) %> <% }) %>
      </section>
    </main>
    <footer></footer>
    <dialog id="loginDialog">
      <form action="/login" method="POST">
        <div class="formHead">Login</div>
        <div>
          <label for="usernameLogin">Username</label>
          <input type="text" name="username" id="usernameLogin" />
        </div>
        <div>
          <label for="passwordLogin">Password</label>
          <input type="password" name="password" id="passwordLogin" />
        </div>
        <button type="submit">Login</button>
      </form>
    </dialog>
  </body>
</html>
