<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
    <script src="/eventListeners/eventListener.js" type="module" defer></script>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <div class="logo">Members Only</div>
      <nav class="headerNav">
        <% if(locals.currentUser) { %>
        <button class="createMessageBtn">+ Create Message</button>
        <div class="usernameHeader"><%= currentUser.username %></div>
        <% if (!isUserMember) { %>
        <button class="membershipBtn membershipBtnListener">
          Become member
        </button>
        <% } %>
        <a href="/log-out" class="logoutBtn">LOG OUT</a>
        <% } else { %>
        <button class="loginBtn loginNav">Login</button>
        <a href="/sign-up" class="signupBtn">Register</a>
        <% } %>
      </nav>
    </header>
    <main>
      <section class="messagesSection">
        <div class="actionDiv">
          <% if(!isUserMember && locals.currentUser) { %>
          <p>
            You must be a
            <button class="membershipBtnListener actionMembershipBtn">
              MEMBER
            </button>
            to access additional message information
          </p>
          <% } %> <% if(!locals.currentUser) { %>
          <p>
            You must <button class="loginBtn actionLoginBtn">LOGIN</button> to
            create post
          </p>
          <% } %>
        </div>
        <% messagesArray.forEach(message => { %> <%- include('partials/message',
        {message: message, isUserMember: isUserMember, timesAgo: timesAgo}) %>
        <% }) %>
      </section>
    </main>
    <footer>
      <p>&copy; 2025 Member's Only. All rights reserved.</p>
      <p>
        Made with ❤️ by
        <a href="https://github.com/tauqirkhan/members_only" target="_blank"
          >Tauqir Khan</a
        >
      </p>
    </footer>
    <dialog id="loginDialog">
      <form action="/login" method="POST">
        <% if (locals.session.messages) { %>
        <div class="error">
          <%= locals.session.messages[locals.session.messages.length - 1] %>
        </div>
        <script>
          document.querySelector("#loginDialog").showModal();
        </script>
        <% } %>
        <div class="formHead">Login</div>
        <div class="inputDiv">
          <label for="usernameLogin">*Username :</label>
          <input
            type="text"
            name="username"
            id="usernameLogin"
            autocomplete="off"
            required
          />
        </div>
        <div class="inputDiv">
          <label for="passwordLogin">*Password :</label>
          <input type="password" name="password" id="passwordLogin" required />
        </div>
        <button type="submit">Submit</button>
      </form>
    </dialog>
    <dialog id="messageDialog">
      <form action="/message" method="POST">
        <div class="formHead">Create message</div>
        <div class="inputDiv">
          <label for="messageTitle">*Enter title :</label>
          <input
            type="text"
            name="messageTitle"
            id="messageTitle"
            maxlength="50"
            autocomplete="off"
            required
          />
        </div>
        <div class="inputDiv">
          <label for="messageText" class="labelTextArea">*Enter text :</label>
          <textarea
            name="messageText"
            id="messageText"
            autocomplete="off"
            required
          ></textarea>
        </div>
        <button type="submit">Submit</button>
      </form>
    </dialog>
    <dialog id="membershipDialog">
      <form action="/membership" method="POST">
        <div class="formHead">
          <% if(membershipErr) { %> <%= membershipErr %>
          <script>
            document.querySelector("#membershipDialog").showModal();
          </script>
          <% } else { %> Become member by answering correctly <% } %>
        </div>
        <div class="inputDiv">
          <label for="membershipQuestion">*Enter current year?</label>
          <input
            type="text"
            name="membershipAnswer"
            id="membershipQuestion"
            autocomplete="off"
            required
          />
        </div>
        <button type="submit">Submit</button>
      </form>
    </dialog>
  </body>
</html>
