<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
  </head>
  <body>
    <header></header>
    <main>
      <section class="actionSection"></section>
      <section class="messagesSection">
        <% messagesArray.forEach(message => { %> <%- include('partials/message',
        {message: message}) %> <% }) %>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
