<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= error.statusCode %> Error</title>
    <style>
      body {
        font-size: 32px;
      }
    </style>
  </head>
  <body>
    Error statusCode: <%= error.statusCode %> <br />
    <br />
    Error message: <%= error.message %> <br />
    <br />
    <br />
    <a href="/">Go back to home page</a>
  </body>
</html>
