<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-Up</title>
  </head>
  <body>
    <form action="/sign-up" method="POST">
      <div>
        <label for="username">Enter username*</label>
        <input type="text" name="username" id="username" required />
      </div>
      <div>
        <label for="fullname">Enter fullname*</label>
        <input type="text" name="fullname" id="fullname" required />
      </div>
      <div>
        <label for="password">Enter password*</label>
        <input type="text" name="password" id="password" required />
      </div>
      <div>Later add confirm password input</div>
      <button type="submit">Sign-Up</button>
    </form>
  </body>
</html>
