/* Reset CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  /* 60% */
  --primary-color-1: #606c38;
  --primary-color-2: #283618;
  /* 30% */
  --secondary-color-1: #fefae0;
  --secondary-color-2: #dda15e;
  /* 10% */
  --accent-color: #bc6c25;
  /* text */
  --primary-text-color: #f5f5f5;
  --secondary-text-color: #1c1c1c;
  --accent-text-color: #000000;
}

@font-face {
  font-family: "customFont";
  src: url("./fonts/Liter-Regular.ttf");
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

::-webkit-scrollbar {
  max-width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary-color-1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color-2);
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 0px 15px 15px 0px; /* Curve the scrollbar and track */
}

body {
  max-width: 100vw;
  min-height: 100vh;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  font-family: "customFont", sans-serif;
}

button {
  all: unset; /* Resets all styles */
  background: transparent; /* Ensures background is transparent */
  border: none; /* Removes border */
  padding: 0; /* Removes default padding */
  font-size: inherit; /* Inherit font size from parent */
  cursor: pointer; /* Ensures pointer cursor on hover */
  outline: none; /* Removes default focus outline */
}

dialog {
  border: none;
  background-color: var(--secondary-color-1);
  padding: 30px;
  border-radius: 20px;
}

dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.7);
}

dialog form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  max-width: 400px;
  min-height: 120px;
  font-size: 21px;
}

dialog form .formHeading {
  font-size: 28px;
  font-weight: 700;
}

dialog form .inputDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

dialog form button {
  font-size: 24px;
  width: 200px;
  padding: 5px 10px;
  border: 1px solid red;
  text-align: center;
  border: 3px solid var(--accent-color);
  border-radius: 10px;
  transition: background-color 0.5s ease-in;
}

form input {
  width: 200px;
  height: 20px;
  font-size: 18px;
  padding: 4px 8px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 5px;
}

#messageDialog textarea:focus,
dialog form input:focus {
  outline: solid var(--secondary-color-2);
  border: none;
}

dialog form button:hover {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}

/* message form */

#messageDialog form {
  max-width: 720px;
}

#messageDialog input {
  width: 520px;
  font-size: 21px;
}

#messageDialog .labelTextArea {
  align-self: flex-start;
}

#messageDialog textarea {
  resize: none;
  width: 520px;
  height: 220px;
  font-size: 18px;
  padding: 5px 10px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 5px;
}

::-webkit-scrollbar {
  max-width: 10px;
}

/* Track */
#messageDialog ::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
#messageDialog ::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  min-height: 70px;
}

/* Handle on hover */
#messageDialog ::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color-2);
}

#messageDialog ::-webkit-scrollbar,
#messageDialog ::-webkit-scrollbar-track,
#messageDialog ::-webkit-scrollbar-thumb {
  border-radius: 0;
}

header {
  min-height: 10vh;
  color: var(--primary-text-color);
  background-color: var(--primary-color-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 0px 8vw;
}

.logo {
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 5px;
}

.headerNav {
  display: flex;
  align-items: center;
  min-width: 30vw;
  gap: 75px;
  font-size: 21px;
  font-weight: 500;
  justify-content: flex-end;
}

.createMessageBtn,
.usernameHeader,
.membershipBtn,
.logoutBtn,
.loginNav,
.signupBtn {
  transition: color 0.4s ease-in, border 1s ease-in 0.3s;
  padding: 10px 25px;
}

.createMessageBtn:hover,
.usernameHeader:hover,
.membershipBtn:hover,
.logoutBtn:hover,
.loginNav:hover,
.signupBtn:hover {
  cursor: pointer;
  color: var(--secondary-color-2);
  border: 1px solid var(--accent-color);
  border-radius: 10px;
}

main {
  background-color: var(--primary-color-1);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.messagesSection {
  max-height: 70vh;
  overflow-y: auto;
  min-width: 80vw;
  background-color: var(--secondary-color-1);
  color: var(--secondary-text-color);
  border-radius: 16px;
}

.actionDiv {
  font-size: 32px;
  position: sticky;
  top: 0;
  background-color: var(--accent-color);
  text-align: center;
  color: var(--accent-text-color);
  padding: 10px;
}

.actionLoginBtn,
.actionMembershipBtn {
  padding: 5px 10px;
  border-bottom: 3px solid var(--accent-text-color);
  font-style: italic;
}

.actionLoginBtn:hover,
.actionMembershipBtn:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.message {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 40vw;
  min-height: 150px;
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: var(--secondary-color-2);
  color: var(--secondary-text-color);
  border-radius: 20px;
}

.message:hover {
  box-shadow: 0px 0px 10px 8px rgb(188, 108, 37, 0.2);
}

.messageImage {
  width: 50px;
  max-height: 50px;
  border-radius: 10px;
}

.messageInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.messageHeader {
  display: flex;
  gap: 25px;
}

.messageHeader > * {
  font-size: 21px;
  font-weight: 700;
}

.messageTitle {
  text-transform: capitalize;
  font-size: 28px;
}

.messageText {
  font-size: 21px;
}

footer {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--grey);
  font-size: 0.8em;
  background-color: var(--primary-color-2);
  color: var(--primary-text-color);
  font-size: 21px;
  gap: 5px;
}
